# OpenAI Experimental Results

Load results for experiments in original paper (make sure to download result files).

In [26]:
%pwd
%cd ..

/home/ldy/in-context-learning

In [27]:
from src.data.completion_dataset import CompletionIdentifier, CompletionDataset
from data.split import load_train_test_split
from src.evaluation.evaluator import Evaluator
from src.evaluation.summary import summarize_evaluation

In [36]:
base_model = "flan_t5_base"
dataset_key = "single_eq"
train_key = "ft_cot_t70_8aug"
e = 16

ci = CompletionIdentifier(base_model, "ft_cot", dataset_key, train_key, e)
cd = CompletionDataset.load(ci)

In [37]:
train, test = load_train_test_split(dataset_key)
evaluation = Evaluator.evaluate_completion_dataset(cd, test,)
summarize_evaluation(evaluation)

Loading split from:  /home/ldy/in-context-learning/reasoning-teacher/data/split/single_eq__default.json

{'accuracy': 0.05263157894736842,
 'contains_answer': 0.05263157894736842,
 'correct_format': 0.993421052631579,
 'complete': 0.0}

In [24]:
cd.select_samples([3], None)

[{'sample_index': 3,
  'completion_index': 0,
  'question': 'The school cafeteria ordered 42 red apples and 7 green apples for students lunches. But, if only 9 students wanted fruit, how many extra did the cafeteria end up with?',
  'answer': '40',
  'prompt': 'Q: There are 15 trees in the grove. Grove workers will plant trees in the grove today. After they are done, there will be 21 trees. How many trees did the grove workers plant today? A: There are 15 trees originally. Then there were 21 trees after some more were planted. So there must have been 21 - 15 = 6. The answer is 6. Q: If there are 3 cars in the parking lot and 2 more cars arrive, how many cars are in the parking lot? A: There are originally 3 cars. 2 more cars arrive. 3 + 2 = 5. The answer is 5. Q: Leah had 32 chocolates and her sister had 42. If they ate 35, how many pieces do they have left in total? A: Originally, Leah had 32 chocolates. Her sister had 42. So in total they had 32 + 42 = 74. After eating 35, they had 74 - 35 = 39. The answer is 39. Q: Jason had 20 lollipops. He gave Denny some lollipops. Now Jason has 12 lollipops. How many lollipops did Jason give to Denny? A: Jason started with 20 lollipops. Then he had 12 after giving some to Denny. So he gave Denny 20 - 12 = 8. The answer is 8. Q: Shawn has five toys. For Christmas, he got two toys each from his mom and dad. How many toys does he have now? A: Shawn started with 5 toys. If he got 2 toys each from his mom and dad, then that is 4 more toys. 5 + 4 = 9. The answer is 9. Q: There were nine computers in the server room. Five more computers were installed each day, from monday to thursday. How many computers are now in the server room? A: There were originally 9 computers. For each of 4 days, 5 more computers were added. So 5 * 4 = 20 computers were added. 9 + 20 is 29. The answer is 29. Q: Michael had 58 golf balls. On tuesday, he lost 23 golf balls. On wednesday, he lost 2 more. How many golf balls did he have at the end of wednesday? A: Michael started with 58 golf balls. After losing 23 on tuesday, he had 58 - 23 = 35. After losing 2 more, he had 35 - 2 = 33 golf balls. The answer is 33. Q: Olivia has $23. She bought five bagels for $3 each. How much money does she have left? A: Olivia had 23 dollars. 5 bagels for 3 dollars each will be 5 x 3 = 15 dollars. So she has 23 - 15 dollars left. 23 - 15 is 8. The answer is 8. Q: The school cafeteria ordered 42 red apples and 7 green apples for students lunches. But, if only 9 students wanted fruit, how many extra did the cafeteria end up with? A:',
  'completion': 'The cafeteria ordered 42 + 7 = 33 apples. The cafeteria ordered a total of 33 + 42 = 57 apples. The cafeteria ended up with 57 - 9 = 57 extra apples. The answer is 57.'}]

In [25]:
evaluation

,sample_index,completion_index,correct,contains_answer,correct_format,complete
0,3,0,False,False,True,False
1,9,0,False,False,True,False
2,11,0,False,False,True,False
3,13,0,False,False,True,False
4,16,0,False,False,True,False
...,...,...,...,...,...,...
175,567,0,False,False,True,False
176,574,0,False,False,True,False
177,582,0,False,False,True,False
178,587,0,False,False,True,False
179,599,0,False,False,True,False